<div v-if="isLoaded">
    <b-container>
        <b-row>
            <h3>{{ car.car.make }} {{ car.car.model }} {{ car.car.version }}</h3>
        </b-row>
        <b-row>
            <b-col class="pad" sm="12" lg="8">
                <b-carousel
                    id="carousel"
                    :interval="4000"
                    controls
                    background="#ababab"
                    img-width="100%">
                    <b-carousel-slide v-for="image in car.images">
                        <img
                        slot="img"
                        class="d-block img-fluid w-100"
                        width="100%"
                        v-bind:src="image.src"
                        v-bind:alt="image.title" />
                    </b-carousel-slide>
                </b-carousel>
            </b-col>
            <b-col class="pad" sm="12" lg="4">
                <h5>{{ car.pricing.startingFee }} {{ car.pricing.currencySymbol }} per month</h5>
                <p>{{ car.pricing.note }}</p>
                <p>{{ car.pricing.term }}</p>
            </b-col>
        </b-row>
        <b-row>
            <b-col class="pad" sm="12" lg="8">
                <h4>Equipments</h4>
                <b-row>
                    <b-col v-for="details in car.car.equipmentDetails" sm="6">
                        {{ details }}
                    </b-col>
                </b-row>
            </b-col>
            <b-col class="pad" sm="12" lg="4">
                <h4>Other Features</h4>
                <p>ps: {{ car.car.ps }}</p>
                <p>Fuel Type: {{ car.car.fueltype }}</p>
                <p>Gearing Type: {{ car.car.gearingType }}</p>
                <p>emissionClass: {{ car.car.environment.emissionClass }}</p>
            </b-col>
        </b-row>
    </b-container>
</div>