<div>
    <b-container>
        <b-row>
            <h3 class="margin-auto">Our Cars</h3>
            <div>
                <Filters @interface="filteredResults"/>
            </div>
        </b-row>
        <b-row>
            <b-col class="pad" sm="6" lg="4" v-for="car in cars">
                <img v-on:click="seeDetails(car)" class="teaser-image clickable" v-bind:src="car.teaser.teaserImage" /> 
                <h5><b>{{ car.teaser.title }}</b></h5>
                <h6>{{ car.teaser.subtitle }}</h6>
                <p>{{ car.pricing.price }} {{ car.pricing.currencySymbol }} per month</p>
                <b-button v-on:click="seeDetails(car)" class="clickable">See Details</b-button>
            </b-col>
        </b-row>
    </b-container>
</div>