<b-dropdown id="dropdown"
            text="Filters"
            right
            class="m-md-2">
    <b-dropdown-item v-for="option in options"
                    :value="option"
                    v-on:click="filterResult(option)">
    {{option}}
    </b-dropdown-item>
    <b-dropdown-divider></b-dropdown-divider>
    <div v-for="type in types">
        <input type="checkbox" :value="type" v-on:click="typeClicked(type)">{{ type }}</input>
    </div>
</b-dropdown>
