<template>
  <div class="home">
    <CarList/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import CarList from '../components/CarList';

@Component({
  components: {
    CarList,
  },
})
export default class Home extends Vue {}
</script>
